---
interface Props {
    title: string;
    links: Array<{ text: string; href: string }>;
}

const { title, links } = Astro.props;
---
<div>
    <h4 class="font-bold text-sm uppercase tracking-widest mb-6 text-primary">{title}</h4>
    <ul class="space-y-4 text-sm font-semibold">
        {links.map(link => (
            <li><a class="hover:text-primary transition-colors" href={link.href}>{link.text}</a></li>
        ))}
    </ul>
</div>
